@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/fonts/SF-Pro-Rounded-Medium.woff2) format('woff2');
  font-style: medium;
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/fonts/SF-Pro-Rounded-Semibold.woff2) format('woff2'),
    url(/fonts/SF-Pro-Rounded-Semibold.otf) format('otf');
  font-style: semibold;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url(/fonts/SF-Pro-Rounded-Bold.woff2) format('woff2');
  font-style: bold;
  font-weight: 700;
}

html,
body,
div#root {
  font-family: SF Pro Rounded !important;
}

body {
  background: radial-gradient(78.87% 47.71% at 3.61% 9.35%, rgba(222, 251, 80, 0.15) 0%, rgba(215, 167, 142, 0.00) 100%), radial-gradient(69.42% 50.26% at -16.53% 93.46%, rgba(222, 251, 80, 0.15) 0%, rgba(215, 167, 142, 0.00) 100%), radial-gradient(50.07% 88.27% at 100% 64.84%, rgba(222, 251, 80, 0.20) 0%, rgba(215, 167, 142, 0.00) 100%), radial-gradient(83.57% 72.39% at 67.22% 100%, rgba(86, 75, 46, 0.25) 0%, rgba(215, 167, 142, 0.00) 100%), #357460;
}

.vkuiPanel:before,
.vkuiPanel.vkuiPanel--sizeX-regular .vkuiPanel__in,
.vkuiPanel.vkuiPanel--sizeX-regular:after {
  background: transparent !important;

}

.vkuiPanel__in,
.vkuiInternalPanel__in {
  background: inherit !important;
}

.vkuiPanelHeader__in {
  background: inherit !important;
}

.vkuiRadio__title {
  margin: 0 !important
}

.vkuiTabsItem--selected .vkuiTabsItem__label {
  color: #fff !important
}

.vkuiTabsItem__label {
  color: #8e9bab !important
}

.vkuiTabsItem__underline {
  background-color: #fff !important
}

.vkuiTooltipBase__arrow {
  color: #407860 !important
}

.vkuiTooltipBase__content {
  background-color: #407860 !important
}